Source: muparserx
Priority: extra
Maintainer: Ingo Berg <muparserx@beltoforion.de>
Build-Depends: 
  debhelper (>= 9),
  lsb-release,
  cmake (>= 2.8.3)
Standards-Version: 3.9.5
Section: contrib/science
Homepage: http://muparserx.beltoforion.de

Package: libmuparserx
Section: contrib/libs
Architecture: any
Provides: libmuparserx
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Suggests: libmuparserx-dev
Description: Mathematical expression parser - runtime
  MuParserX is a fast parser for mathematical expressions. It supports multiple
  data types (double, integer, complex, boolean, string, array). It has an 
  extensible set of operators (binary, infix, postfix)
  .
  This package contains the libraries.

Package: libmuparserx-dev
Section: contrib/libdevel
Architecture: any
Provides: libmuparserx-dev
Depends:
 libmuparserx (= ${binary:Version}),
 cmake (>= 2.8.3),
 libc6-dev (>= 2.4),
 libgcc1 (>= 1:4.1),
 libstdc++6 (>= 4.4),
 ${misc:Depends}
Description: Mathematical expression parser - development
  MuParserX is a fast parser for mathematical expressions. It supports multiple
  data types (double, integer, complex, boolean, string, array). It has an 
  extensible set of operators (binary, infix, postfix)
  .
  This package contains the development files.
