Source: orfeotoolbox
Homepage: http://www.orfeo-toolbox.org/
Section: science
Priority: optional
Maintainer: Manuel Grizonnet <manuel.grizonnet@cnes.fr>
Build-Depends: cdbs, patchutils, debhelper (>= 7),libgdal1-dev, libgl1-mesa-dev,libglu1-mesa-dev, libfltk1.1-dev,fluid,libexpat1-dev,libboost-dev, cmake, zlib1g-dev (>= 1.2.2), libpng12-dev, libtiff4-dev (>= 3.7.3), libgeotiff-dev (>=1.2.5)
Standards-Version: 3.8.3

Package: orfeotoolbox
Architecture: all
Depends: liborfeotoolbox3.2.1
Suggests: liborfeotoolbox-dev, liborfeotoolbox-doc
Description: open source library of image processing algorithms
 ORFEO Toolbox (OTB) is distributed as an open source library of image processing algorithms. 
 OTB is based on the medical image processing library ITK and offers particular functionalities 
 for remote sensing image processing in general and for   high spatial resolution images in particular. 
 OTB is distributed under a free software license CeCILL (similar to GPL) to encourage contribution from users and to promote reproducible research. 


Package: liborfeotoolbox3.2.1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Suggests: liborfeotoolbox-dev
Description: open source library of image processing algorithms
 ORFEO Toolbox (OTB) is distributed as an open source library of image processing algorithms. 
 OTB is based on the medical image processing library ITK and offers particular functionalities 
 for remote sensing image processing in general and for   high spatial resolution images in particular. 
 OTB is distributed under a free software license CeCILL (similar to GPL) to encourage contribution from users and to promote reproducible research. 


Package: liborfeotoolbox-dev
Section: devel
Architecture: any
Depends: liborfeotoolbox3.2.1 (= ${source:Version})
Description: open source library of image processing algorithms
 ORFEO Toolbox (OTB) is distributed as an open source library of image processing algorithms. 
 OTB is based on the medical image processing library ITK and offers particular functionalities 
 for remote sensing image processing in general and for   high spatial resolution images in particular. 
 OTB is distributed under a free software license CeCILL (similar to GPL) to encourage contribution from users and to promote reproducible research. 

