#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk

VERSION_MAJOR  = 3
VERSION_MINOR  = 6
VERSION_PATCH  = 0
VERSION_FULL   = $(VERSION_MAJOR).$(VERSION_MINOR).$(VERSION_PATCH)
VERSION_SONAME = $(VERSION_MAJOR).$(VERSION_MINOR)

PKG_DEFAULT = libotb
PKG_CURRENT = libotb$(VERSION_SONAME)
PKG_DEV     = libotb$(VERSION_MAJOR)-dev

DEB_BUILD_PARALLEL = true
DEB_PARALLEL_JOBS  = 5

DEB_CMAKE_INSTALL_PREFIX = /opt/otb
DEB_CMAKE_EXTRA_FLAGS = \
	-DCMAKE_INSTALL_PREFIX="$(DEB_CMAKE_INSTALL_PREFIX)" \
	-DCMAKE_BUILD_TYPE:STRING=Release \
	-DBUILD_SHARED_LIBS:BOOL=ON \
	-DCMAKE_SKIP_RPATH:BOOL=ON \
	-DOTB_USE_EXTERNAL_FLTK:BOOL=ON \
	-DOTB_USE_GETTEXT:BOOL=OFF \
	-DBUILD_EXAMPLES:BOOL=OFF \
	-DBUILD_TESTING:BOOL=OFF

DEB_SHLIBDEPS_INCLUDE_$(PKG_CURRENT) = $(DEB_DESTDIR)/opt/otb/lib/otb

control-file::
	sed -e "s/@VERSION_MAJOR@/$(VERSION_MAJOR)/g" \
	    -e "s/@VERSION_SONAME@/$(VERSION_SONAME)/g" \
	    < debian/control.in > debian/control
